#faq {
  color: white;
}

.btn-primary {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

.align-self-start {
  width: 100px;
  border-radius: 0.5rem;
  margin-bottom: 15px;
}

.p-5 {
  padding: 15px !important;
}