.display-4{
    font-size: 2rem !important;
}
  
  #faq1 {
    max-width: 700px;
    margin: auto;
    padding: 0 0px;
    text-align: center;
  }
  
  section.faq1 {
    padding-top: 2em;
    padding-bottom: 3em;
  }
  
  #faq1 ul {
    text-align: left;
  }
  .transition, p, ul li i:before, ul li i:after {
    transition: all 0.3s;
  }
  
  #faq1 .no-select, #faq1 h2 {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  #faq1 h1 {
    color: #000;
    margin-bottom: 30px;
    margin-top: 0;
  }
  
  #faq1 h2 {
    color: #28a745;
    font-family: 'hm_light', sans-serif;
    font-size: 20px;
    line-height: 34px;
    text-align: left;
    padding: 15px 15px 0;
    text-transform: none;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    cursor: pointer;
    transition: .2s;
  }
  
  #faq1 p {
    color: #333;
    text-align: left;
    font-family: 'hm_light', sans-serif;
    font-size: 14px;
    line-height: 1.45;
    position: relative;
    overflow: hidden;
    max-height: 250px;
    will-change: max-height;
    contain: layout;
    display: inline-block;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 0 50px 0 15px;
    transition: .3s opacity, .6s max-height;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    z-index: 2;
  }
  
  #faq1 ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
  }
  #faq1 ul li {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border-radius: 0.25rem;
    /*padding-bottom: 4px;*/
    /*padding-top: 18px;*/
    background: #fff;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,0.1);
    -webkit-tap-highlight-color: transparent;
  }
  #faq1 ul li + li {
    margin-top: 15px;
  }
  #faq1 ul li:last-of-type {
    padding-bottom: 0;
  }
  #faq1 ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 28px;
    right: 15px;
  }
  #faq1 ul li i:before, ul li i:after {
    content: "";
    position: absolute;
    background-color: #28a745;
    width: 3px;
    height: 9px;
  }
  #faq1 ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
  }
  #faq1 ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
  }
  #faq1 ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    touch-action: manipulation;
  }
  #faq1 ul li input[type=checkbox]:checked ~ h2 {
    color: #000;
  }
  #faq1 ul li input[type=checkbox]:checked ~ p {
    /*margin-top: 0;*/
    max-height: 0;
    transition: .3s;
    opacity: 0;
    /*transform: translate(0, 50%);*/
  }
  #faq1 ul li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
  }
  #faq1 ul li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
  }
  
  
  
  
  
  
  
  
  
  
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  
  a,
  a:visited,
  a:focus,
  a:active,
  a:link {
    text-decoration: none;
    outline: 0;
  }
  
  a {
    color: currentColor;
    transition: .2s ease-in-out;
  }
  
  h1, h2, h3, h4 {
    margin: .3em 0;
  }
  
  ul {
    padding: 0;
    list-style: none;
  }
  

