.page-header{
  background-color: #28A745 !important;
  color: white;
  border-bottom: 0 !important;
  margin: 0 0 0 !important;
  display: table-cell;
  width: 10%;
}

.page-header h1{
  margin-left: 10px;
  font-size: 2em;
}
